<%- model_class = DailyDeal -%>
 <div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
 </div>

<div class="container">

 <p id="notice"><%= notice %></p>

  <div class="row">
    <% @daily_deals.each do |daily_deal| %>
      <div class = "col-md-2">
        <div class = "logo-box">
          <%= image_tag(daily_deal.logo, class: 'fit-image') %>
           <div class="container">
            <h5><%= daily_deal.DealerName %></h5> 
            <p><%= daily_deal.DealerCategory %></p>
            <p><%= daily_deal.IsDealerFavorite? %></p>
            <p><%=  link_to('Lets Go!', url_with_protocol(daily_deal.DealerTargetUrl),:target => :blank, :class => 'btn btn-warning')%></p>
           </div><!--container-->
           <ul>
            <% if can? :update, daily_deal %>
              <li><%= link_to 'Show', daily_deal %>||
                <%= link_to 'Edit', edit_daily_deal_path(daily_deal) %>||
                <%= link_to 'Destroy', daily_deal, method: :delete, data: { confirm: 'Are you sure?' } %>||
                <%= link_to 'New Weekly Add', new_daily_deal_path %>
              </li>
            <%end%>
          </ul>
        </div><!--end div innovation box -->
      </div><!--end div col-md-2 -->
    <% end %>
  </div><!--end row -->
  <div>
      
  </div>
</div><!--Container-->