<%- model_class = DailyDeal -%>
 <div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
 </div>

<div class="container">

 <p id="notice"><%= notice %></p>

  <div class="row">
    <% @daily_deals.each do |daily_deal| %>
      <div class = "col-md-2">
        <div class = "logo-box">
          <%= image_tag(daily_deal.logo, class: "logosize") %>
          <ul>
            <li><%= daily_deal.DealerName %></li> 
            <li><%= daily_deal.DealerCategory %></li>
            <li><%= daily_deal.IsDealerFavorite? %></li>
            <li><%= daily_deal.DealerTargetUrl %></li>
            <% if can? :update, daily_deal %>
              <li><%= link_to 'Show', daily_deal %>
                <%= link_to 'Edit', edit_daily_deal_path(daily_deal) %>
                <%= link_to 'Destroy', daily_deal, method: :delete, data: { confirm: 'Are you sure?' } %>
              </li>
            <%end%>
          </ul>
        </div><!--end div innovation box -->
      </div><!--end div col-md-2 -->
    <% end %>
  </div><!--end row -->
  <div>
      <%= link_to 'New Weekly Add', new_daily_deal_path %>
  </div>
</div><!--Container-->