<%- model_class = DailyDeal -%>
<div class="container-fluid">

<p id="notice"><%= notice %></p>

  <div class="row">
      <% @daily_deals.each do |daily_deal| %>
      <div class = "col-2 mt-1 mb-2">
        <div class = "logo-box">
          <%= image_tag(daily_deal.logo, class: 'fit-image') %>
           <div class="container">
            <h5><%= link_to  daily_deal.DealerName, url_with_protocol(daily_deal.DealerTargetUrl),:target => :blank %></h5> 
            <p><%= daily_deal.DealerCategory %></p>
            <div class="dropdown-divider"></div>
            <p><%=  link_to('Lets Go!', url_with_protocol(daily_deal.DealerTargetUrl),:target => :blank, :class => 'btn btn-warning')%></p>
           </div><!--container-->
           <ul>
            <% if can? :update, daily_deal %>
              <li><%= link_to 'Show', daily_deal %>||
                <%= link_to 'Edit', edit_daily_deal_path(daily_deal) %>||
                <%= link_to 'Destroy', daily_deal, method: :delete, data: { confirm: 'Are you sure?' } %>||
                <%= link_to 'New Weekly Add', new_daily_deal_path %>
              </li>
            <%end%>
          </ul>
        </div><!--end div innovation box -->
      </div><!--end div col-md-2 -->
    <% end %>
  </div><!--end row -->
</div><!--Container-->