<%- model_class = DealHunter -%>
<div class="container">
 <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
 </div>
 <p id="notice"><%= notice %></p>

  <div class="row">
    <% @deal_hunters.each do |deal_hunter| %>
      <div class = "col-md-2">
        <div class = "logo-box">
          <%= image_tag(deal_hunter.logo, class: "logosize") %>
          <ul>
            <li><%= deal_hunter.HunterName %></li> 
            <li><%= deal_hunter.HunterCategory %></li>
            <li><%= deal_hunter.IsHunterFavorite? %></li>
            <li><%= deal_hunter.HunterTargetUrl %></li>
            <% if can? :update, deal_hunter %>
              <li><%= link_to 'Show', deal_hunter %>
                <%= link_to 'Edit', edit_deal_hunter_path(deal_hunter) %>
                <%= link_to 'Destroy', deal_hunter, method: :delete, data: { confirm: 'Are you sure?' } %>
              </li>
            <%end%>
          </ul>
        </div><!--end div innovation box -->
      </div><!--end div col-md-2 -->
    <% end %>
  </div><!--end row -->
  <div>
      <%= link_to 'New Deal Hunter', new_deal_hunter_path %>
  </div>
</div><!--Container-->