<%- model_class = WeeklyAdd -%>
<div class="container">
 <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
 </div>
 <p id="notice"><%= notice %></p>

  <div class="row">
    <% @weekly_adds.each do |weekly_add| %>
      <div class = "col-md-2">
        <div class = "logo-box">
          <%= image_tag(weekly_add.logo, class: "logosize") %>
          <ul>
            <li><%= weekly_add.AddName %></li> 
            <li><%= weekly_add.AddCategory %></li>
            <li><%= weekly_add.IsAddFavorite? %></li>
            <li><%= weekly_add.AddTargetUrl %></li>
            <% if can? :update, weekly_add %>
              <li><%= link_to 'Show', weekly_add %>
                <%= link_to 'Edit', edit_weekly_add_path(weekly_add) %>
                <%= link_to 'Destroy', weekly_add, method: :delete, data: { confirm: 'Are you sure?' } %>
              </li>
            <%end%>
          </ul>
        </div><!--end div innovation box -->
      </div><!--end div col-md-2 -->
    <% end %>
  </div><!--end row -->
  <div>
      <%= link_to 'New Weekly Add', new_weekly_add_path %>
  </div>
</div><!--Container-->