<%- model_class = WeeklyAdd -%>
<div class="container-fluid">

 <p id="notice"><%= notice %></p>


 <div class="row mb-3">
  <% @weekly_adds.each do |weekly_add| %>
      <div class = "col-2 mt-1 mb-2">
        <div class = "logo-box">
          <picture>
            <%= image_tag(weekly_add.logo, class: 'fit-image') %>
          </picture>
          <ul>
            <li><h5 padding-top: 10%;><%= link_to weekly_add.AddName, url_with_protocol(weekly_add.AddTargetUrl),:target => :blank %></h5></li>
            <li><%= weekly_add.AddCategory %></li>
            <div class="dropdown-divider"></div>
            <li><%=  link_to('Lets Go!', url_with_protocol(weekly_add.AddTargetUrl),:target => :blank, :class => 'btn btn-warning')%></li>
            <% if can? :update, weekly_add %>
              <li><%= link_to 'Show', weekly_add %>||
                <%= link_to 'Edit', edit_weekly_add_path(weekly_add) %>||
                <%= link_to 'Destroy', weekly_add, method: :delete, data: { confirm: 'Are you sure?' } %>||
                <%= link_to 'New Weekly Add', new_weekly_add_path %>
              </li>
            <%end%>
            </ul>
        </div><!--end div logobox. -->
      </div><!--end div col-md-2 -->
  <% end %>
</div>
</div><!--container-fluid-->
