
<%= simple_form_for(@innovation) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  <div class="newform-box">
    <div class = "container">
      <div class="form-inputs">
        <%= f.input :InnovationID %>
        <%= f.input :InnovationName %>
        <%= f.input :InnovationCategory %>
        <%= f.input :IsInnovationFavorite? %>
        <%= f.input :InnovationTargetUrl %>
        <%= f.input :image %>
      </div><!--end form input-->
    </div><!--end container-->
  </div><!--end newform-box input-->

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  
<% end %>
